NEXT_PUBLIC_DOMAIN=http://localhost:2302
NEXT_PUBLIC_API_HOST=http://127.0.0.1:2301
NEXT_PUBLIC_COOKIE_TOKEN_NAME=token

EDGE_API_GQL=http://127.0.0.1:2301/graphql
EDGE_API_GQL_DOMAINKEY=1234

NEXT_PUBLIC_SELF_DEPLOY=false
NEXT_PUBLIC_ACCESS_TOKEN=1234
NEXT_CAPTCHA_BYPASS_KEY=1234
## not required if NEXT_PUBLIC_ACCESS_TOKEN is definfed only need when using the same next.js code for multiple sites
NEXT_INTERNAL_APIKEY=1234
NEXT_PUBLIC_LOGGING_ENABLED=true